In [1]:
#!pip install anchor_exp==0.0.0.5

In [3]:
#!gcloud auth activate-service-account --key-file ml-clv.json

In [5]:
import anchor_explainer as anchor

In [6]:
explainer = anchor.Explainer()

In [7]:
explainer.load_data(
  gcs_path = 'gs://ml-clv-data/model_data.csv',
  target_idx = 15,
  features_to_use = [1,3,5,6,7,8,9,10,11])

In [8]:
token = !gcloud auth print-access-token

In [9]:
explainer.create_cmle_client(
  gcp_project = 'ml-clv',
  gcp_model = 'dnn_airflow',
  gcp_model_version = 'v1',
  access_token = token[0],
  output_func = lambda x : x['predicted_monetary'])

In [13]:
explainer.assess_model()

{'accuracy': 0.79}

In [11]:
rand_expl = explainer.explain_random_record() #, show_in_notebook = True)
rand_expl

{'anchor': '2423.27 < monetary_dnn <= 4087.26',
 'coverage': 0.2436,
 'precision': 1.0,
 'prediction': b'3606.53 < target_monetary <= 5891.80',
 'record': [3158.945, 41, 333, 335, 6.62, 53.96, 18.12, 0, 0]}

In [12]:
mod_record = [2000] + rand_expl['record'][1:]
print(mod_record)
explainer.explain_record(mod_record) #, show_in_notebook = True)

[2000, 41, 333, 335, 6.62, 53.96, 18.12, 0, 0]

{'anchor': '1167.98 < monetary_dnn <= 2423.27 AND T > 334.00 AND recency > 331.00 AND has_returned <= 0.00 AND cnt_returns <= 0.00 AND 44.28 < avg_basket_value <= 66.77 AND 5.49 < time_between <= 8.22',
 'coverage': 0.0004,
 'precision': 1.0,
 'prediction': b'target_monetary <= 1922.54',
 'record': [1779.22, 41, 333, 335, 6.62, 53.96, 18.12, 0, 0]}

In [11]:
explainer.explain_model()

,anchor,coverage,precision,prediction
0,monetary_dnn <= 1167.98,0.2568,1.000000,b'target_monetary <= 1922.54'
1,monetary_dnn > 4087.26,0.2524,1.000000,b'target_monetary > 5891.80'
2,2423.27 < monetary_dnn <= 4087.26,0.2438,1.000000,b'3606.53 < target_monetary <= 5891.80'
3,1167.98 < monetary_dnn <= 2423.27 AND T <= 306.00,0.0573,1.000000,b'1922.54 < target_monetary <= 3606.53'
4,1167.98 < monetary_dnn <= 2423.27 AND recency ...,0.0515,1.000000,b'1922.54 < target_monetary <= 3606.53'
5,1167.98 < monetary_dnn <= 2423.27 AND time_bet...,0.0348,0.957143,b'1922.54 < target_monetary <= 3606.53'
6,1167.98 < monetary_dnn <= 2423.27 AND time_bet...,0.0230,1.000000,b'1922.54 < target_monetary <= 3606.53'
7,1167.98 < monetary_dnn <= 2423.27 AND avg_bask...,0.0165,0.988848,b'target_monetary <= 1922.54'
8,1167.98 < monetary_dnn <= 2423.27 AND time_bet...,0.0144,1.000000,b'1922.54 < target_monetary <= 3606.53'
9,1167.98 < monetary_dnn <= 2423.27 AND 28.37 < ...,0.0127,1.000000,b'1922.54 < target_monetary <= 3606.53'
10,1167.98 < monetary_dnn <= 2423.27 AND time_bet...,0.0115,0.972705,b'target_monetary <= 1922.54'
11,1167.98 < monetary_dnn <= 2423.27 AND time_bet...,0.0114,0.989130,b'target_monetary <= 1922.54'
12,1167.98 < monetary_dnn <= 2423.27 AND time_bet...,0.0112,0.953737,b'target_monetary <= 1922.54'
13,1167.98 < monetary_dnn <= 2423.27 AND avg_bask...,0.0110,0.966102,b'target_monetary <= 1922.54'
14,1167.98 < monetary_dnn <= 2423.27 AND 306.00 <...,0.0102,0.987952,b'target_monetary <= 1922.54'
15,1167.98 < monetary_dnn <= 2423.27 AND 306.00 <...,0.0094,0.981900,b'target_monetary <= 1922.54'
16,1167.98 < monetary_dnn <= 2423.27 AND 306.00 <...,0.0067,0.973333,b'target_monetary <= 1922.54'
17,1167.98 < monetary_dnn <= 2423.27 AND 306.00 <...,0.0057,1.000000,b'target_monetary <= 1922.54'
18,1167.98 < monetary_dnn <= 2423.27 AND 28.37 < ...,0.0047,0.979021,b'1922.54 < target_monetary <= 3606.53'
19,1167.98 < monetary_dnn <= 2423.27 AND 306.00 <...,0.0040,1.000000,b'target_monetary <= 1922.54'
20,1167.98 < monetary_dnn <= 2423.27 AND 306.00 <...,0.0039,0.955102,b'target_monetary <= 1922.54'
21,1167.98 < monetary_dnn <= 2423.27 AND avg_bask...,0.0027,1.000000,b'1922.54 < target_monetary <= 3606.53'
22,1167.98 < monetary_dnn <= 2423.27 AND 306.00 <...,0.0027,1.000000,b'target_monetary <= 1922.54'
23,1167.98 < monetary_dnn <= 2423.27 AND 331.00 <...,0.0018,1.000000,b'target_monetary <= 1922.54'
24,1167.98 < monetary_dnn <= 2423.27 AND T > 334....,0.0006,1.000000,b'target_monetary <= 1922.54'
25,1167.98 < monetary_dnn <= 2423.27 AND 331.00 <...,0.0000,1.000000,b'target_monetary <= 1922.54'