In [1]:
#!pip install anchor_exp==0.0.0.5

In [2]:
#!gcloud auth activate-service-account --key-file ml-clv.json

In [4]:
import anchor_explainer as anchor

In [5]:
explainer = anchor.Explainer()

In [ ]:
explainer.load_data(
  gcs_path = 'gs://ml-clv-data/model_data.csv',
  target_idx = 15,
  features_to_use = [1,3,5,6,7,8,9,10,11])

In [7]:
token = !gcloud auth print-access-token

In [8]:
explainer.create_cmle_client(
  gcp_project = 'ml-clv',
  gcp_model = 'dnn_airflow',
  gcp_model_version = 'v1',
  access_token = token[0],
  output_func = lambda x : x['predicted_monetary'])

In [11]:
rand_expl = explainer.explain_random_record() #, show_in_notebook = True)
rand_expl

{'anchor': '2995.89 < monetary_dnn <= 3683.36 AND 334.00 < T <= 335.00',
 'coverage': 0.0196,
 'precision': 0.9834710743801653,
 'prediction': b'3606.53 < target_monetary <= 4387.94',
 'record': [3325.815, 48, 330, 335, 8.24, 66.77, 28.34, 0, 0]}

In [12]:
mod_record = [2000] + rand_expl['record'][1:]
print(mod_record)
explainer.explain_record(mod_record) #, show_in_notebook = True)

[2000, 48, 330, 335, 8.24, 66.77, 28.34, 0, 0]

{'anchor': '1906.26 < monetary_dnn <= 2423.27 AND 61.14 < avg_basket_value <= 73.65 AND 7.48 < time_between <= 9.19 AND 334.00 < T <= 335.00 AND 329.00 < recency <= 330.00 AND has_returned <= 0.00 AND 43.00 < frequency_dnn <= 52.00 AND 25.09 < avg_basket_size <= 32.85',
 'coverage': 0.0,
 'precision': 0.9682539682539683,
 'prediction': b'1593.70 < target_monetary <= 2248.70',
 'record': [2160.01, 48, 330, 335, 8.24, 66.77, 28.34, 0, 0]}

In [13]:
explainer.explain_model()

,anchor,coverage,precision,prediction
0,monetary_dnn <= 444.45,0.1062,1.000000,b'target_monetary <= 928.17'
1,444.45 < monetary_dnn <= 921.51,0.1046,0.990291,b'target_monetary <= 928.17'
2,monetary_dnn > 5963.18,0.0903,1.000000,b'target_monetary > 8512.68'
3,monetary_dnn > 5963.18 AND time_between <= 2.60,0.0290,1.000000,b'target_monetary > 8512.68'
4,4566.71 < monetary_dnn <= 5963.18 AND 334.00 <...,0.0269,0.990909,b'5333.39 < target_monetary <= 6553.63'
5,4566.71 < monetary_dnn <= 5963.18 AND 333.00 <...,0.0217,0.990338,b'5333.39 < target_monetary <= 6553.63'
6,2995.89 < monetary_dnn <= 3683.36 AND 334.00 <...,0.0204,0.972696,b'3606.53 < target_monetary <= 4387.94'
7,444.45 < monetary_dnn <= 921.51 AND 251.00 < r...,0.0202,1.000000,b'target_monetary <= 928.17'
8,2995.89 < monetary_dnn <= 3683.36 AND 333.00 <...,0.0177,0.976027,b'3606.53 < target_monetary <= 4387.94'
9,2995.89 < monetary_dnn <= 3683.36 AND 327.00 <...,0.0148,0.974170,b'3606.53 < target_monetary <= 4387.94'
10,4566.71 < monetary_dnn <= 5963.18 AND 327.00 <...,0.0129,1.000000,b'5333.39 < target_monetary <= 6553.63'
11,3683.36 < monetary_dnn <= 4566.71 AND 319.00 <...,0.0102,0.976471,b'4387.94 < target_monetary <= 5333.39'
12,3683.36 < monetary_dnn <= 4566.71 AND 334.00 <...,0.0089,1.000000,b'4387.94 < target_monetary <= 5333.39'
13,1906.26 < monetary_dnn <= 2423.27 AND 18.50 < ...,0.0077,0.994924,b'2248.70 < target_monetary <= 2906.74'
14,2423.27 < monetary_dnn <= 2995.89 AND 3.33 < t...,0.0069,0.995816,b'2906.74 < target_monetary <= 3606.53'
15,1906.26 < monetary_dnn <= 2423.27 AND 25.23 < ...,0.0055,0.993651,b'2248.70 < target_monetary <= 2906.74'
16,3683.36 < monetary_dnn <= 4566.71 AND 334.00 <...,0.0053,1.000000,b'4387.94 < target_monetary <= 5333.39'
17,3683.36 < monetary_dnn <= 4566.71 AND 333.00 <...,0.0052,1.000000,b'4387.94 < target_monetary <= 5333.39'
18,3683.36 < monetary_dnn <= 4566.71 AND 333.00 <...,0.0049,1.000000,b'4387.94 < target_monetary <= 5333.39'
19,3683.36 < monetary_dnn <= 4566.71 AND 332.00 <...,0.0044,1.000000,b'4387.94 < target_monetary <= 5333.39'
20,2423.27 < monetary_dnn <= 2995.89 AND 52.00 < ...,0.0039,0.997788,b'2906.74 < target_monetary <= 3606.53'
21,1411.80 < monetary_dnn <= 1906.26 AND 18.50 < ...,0.0034,1.000000,b'1593.70 < target_monetary <= 2248.70'
22,3683.36 < monetary_dnn <= 4566.71 AND 333.00 <...,0.0033,1.000000,b'4387.94 < target_monetary <= 5333.39'
23,4566.71 < monetary_dnn <= 5963.18 AND 265.00 <...,0.0030,1.000000,b'5333.39 < target_monetary <= 6553.63'
24,1906.26 < monetary_dnn <= 2423.27 AND 52.00 < ...,0.0028,1.000000,b'2248.70 < target_monetary <= 2906.74'
25,3683.36 < monetary_dnn <= 4566.71 AND 333.00 <...,0.0027,1.000000,b'4387.94 < target_monetary <= 5333.39'
26,1411.80 < monetary_dnn <= 1906.26 AND 31.39 < ...,0.0026,1.000000,b'1593.70 < target_monetary <= 2248.70'
27,2995.89 < monetary_dnn <= 3683.36 AND 111.00 <...,0.0026,0.973684,b'4387.94 < target_monetary <= 5333.39'
28,1411.80 < monetary_dnn <= 1906.26 AND 37.64 < ...,0.0024,1.000000,b'1593.70 < target_monetary <= 2248.70'
29,921.51 < monetary_dnn <= 1411.80 AND 37.64 < a...,0.0021,1.000000,b'928.17 < target_monetary <= 1593.70'
...,...,...,...,...
33,2423.27 < monetary_dnn <= 2995.89 AND 4.01 < t...,0.0017,1.000000,b'2906.74 < target_monetary <= 3606.53'
34,1411.80 < monetary_dnn <= 1906.26 AND time_bet...,0.0016,1.000000,b'1593.70 < target_monetary <= 2248.70'
35,2423.27 < monetary_dnn <= 2995.89 AND 3.33 < t...,0.0015,0.996269,b'2906.74 < target_monetary <= 3606.53'
36,3683.36 < monetary_dnn <= 4566.71 AND 332.00 <...,0.0015,1.000000,b'4387.94 < target_monetary <= 5333.39'
37,921.51 < monetary_dnn <= 1411.80 AND 327.00 < ...,0.0014,0.990244,b'928.17 < target_monetary <= 1593.70'
38,1411.80 < monetary_dnn <= 1906.26 AND 9.19 < t...,0.0014,0.995392,b'1593.70 < target_monetary <= 2248.70'
39,1411.80 < monetary_dnn <= 1906.26 AND 25.23 < ...,0.0010,1.000000,b'1593.70 < target_monetary <= 2248.70'
40,1906.26 < monetary_dnn <= 2423.27 AND 52.00 < ...,0.0009,1.000000,b'2248.70 < target_monetary <= 2906.74'
41,2423.27 < monetary_dnn <= 2995.89 AND time_bet...,0.0008,1.000000,b'2906.74 < target_monetary <= 3606.53'
42,1411.80 < monetary_dnn <= 1906.26 AND 9.19 < t...,0.0008,1.000000,b'1593.70 < target_monetary <= 2248.70'
43,2995.89 < monetary_dnn <= 3683.36 AND 265.00 <...,0.0008,1.000000,b'3606.53 < target_monetary <= 4387.94'
44,921.51 < monetary_dnn <= 1411.80 AND 319.00 < ...,0.0007,1.000000,b'928.17 < target_monetary <= 1593.70'
45,1411.80 < monetary_dnn <= 1906.26 AND 37.64 < ...,0.0007,0.988462,b'1593.70 < target_monetary <= 2248.70'
46,1411.80 < monetary_dnn <= 1906.26 AND 9.19 < t...,0.0005,1.000000,b'1593.70 < target_monetary <= 2248.70'
47,1411.80 < monetary_dnn <= 1906.26 AND 9.19 < t...,0.0005,1.000000,b'1593.70 < target_monetary <= 2248.70'
48,921.51 < monetary_dnn <= 1411.80 AND 334.00 < ...,0.0005,1.000000,b'928.17 < target_monetary <= 1593.70'
49,1906.26 < monetary_dnn <= 2423.27 AND 34.00 < ...,0.0002,1.000000,b'2248.70 < target_monetary <= 2906.74'
50,1411.80 < monetary_dnn <= 1906.26 AND 44.28 < ...,0.0002,1.000000,b'1593.70 < target_monetary <= 2248.70'
51,2423.27 < monetary_dnn <= 2995.89 AND 5.49 < t...,0.0001,1.000000,b'2906.74 < target_monetary <= 3606.53'
52,avg_basket_value <= 18.50 AND 444.45 < monetar...,0.0001,1.000000,b'928.17 < target_monetary <= 1593.70'
53,24.00 < frequency_dnn <= 34.00 AND 51.82 < avg...,0.0000,1.000000,b'2906.74 < target_monetary <= 3606.53'
54,1906.26 < monetary_dnn <= 2423.27 AND 73.65 < ...,0.0000,0.994253,b'1593.70 < target_monetary <= 2248.70'
55,1906.26 < monetary_dnn <= 2423.27 AND 24.00 < ...,0.0000,1.000000,b'2248.70 < target_monetary <= 2906.74'
56,1906.26 < monetary_dnn <= 2423.27 AND 52.00 < ...,0.0000,1.000000,b'2248.70 < target_monetary <= 2906.74'
57,1411.80 < monetary_dnn <= 1906.26 AND 9.19 < t...,0.0000,1.000000,b'1593.70 < target_monetary <= 2248.70'
58,3.33 < time_between <= 4.01 AND 14.00 < freque...,0.0000,1.000000,b'928.17 < target_monetary <= 1593.70'
59,1906.26 < monetary_dnn <= 2423.27 AND 43.00 < ...,0.0000,1.000000,b'2248.70 < target_monetary <= 2906.74'
60,1411.80 < monetary_dnn <= 1906.26 AND 25.23 < ...,0.0000,1.000000,b'1593.70 < target_monetary <= 2248.70'
61,1906.26 < monetary_dnn <= 2423.27 AND 75.00 < ...,0.0000,1.000000,b'2248.70 < target_monetary <= 2906.74'
62,1906.26 < monetary_dnn <= 2423.27 AND 24.00 < ...,0.0000,1.000000,b'2248.70 < target_monetary <= 2906.74'

In [10]:
#explainer.assess_model()