In [1]:
#!pip install anchor_exp==0.0.0.5

In [ ]:
import anchor_explainer as anchor

In [3]:
explainer = anchor.Explainer()

In [4]:
explainer.load_data(
  gcs_path = 'gs://ml-clv-data/model_data.csv',
  target_idx = 15,
  features_to_use = [1,3,5,6,7,8,9,10,11]
)

In [5]:
explainer.create_cmle_client(
  gcp_project = 'ml-clv',
  gcp_model = 'dnn_airflow',
  gcp_model_version = 'v1',
  output_func = lambda x : x['predicted_monetary'] 
)

In [14]:
explainer.assess_model(sample = 50)

{'accuracy': 0.84}

In [11]:
rand_expl = explainer.explain_random_record() #, show_in_notebook = True)
rand_expl

{'anchor': '2423.27 < monetary_dnn <= 4087.26',
 'coverage': 0.2478,
 'precision': 1.0,
 'prediction': '3606.53 < target_monetary <= 5891.80',
 'record': ['3158.945',
  '112',
  '329',
  '333',
  '2.81',
  '36.04',
  '6.38',
  '0',
  '0']}

In [12]:
mod_record = ','.join(['2000'] + rand_expl['record'][1:])
print(mod_record)
explainer.explain_record(mod_record
) #, show_in_notebook = True)

2000,112,329,333,2.81,36.04,6.38,0,0

{'anchor': '1167.98 < monetary_dnn <= 2423.27 AND time_between <= 3.67 AND 325.00 < recency <= 331.00',
 'coverage': 0.0074,
 'precision': 0.9806763285024155,
 'prediction': 'target_monetary <= 1922.54',
 'record': ['1779.22', '112', '329', '333', '2.81', '36.04', '6.38', '0', '0']}

In [15]:
explainer.explain_model(sample=15)

,anchor,coverage,precision,prediction
0,monetary_dnn <= 1167.98,0.2590,1.000000,target_monetary <= 1922.54
1,2423.27 < monetary_dnn <= 4087.26,0.2490,1.000000,3606.53 < target_monetary <= 5891.80
2,monetary_dnn > 4087.26,0.2405,1.000000,target_monetary > 5891.80
3,1167.98 < monetary_dnn <= 2423.27 AND recency ...,0.0515,0.991701,1922.54 < target_monetary <= 3606.53
4,1167.98 < monetary_dnn <= 2423.27 AND time_bet...,0.0141,1.000000,1922.54 < target_monetary <= 3606.53
5,1167.98 < monetary_dnn <= 2423.27 AND 28.37 < ...,0.0126,0.990741,1922.54 < target_monetary <= 3606.53
6,1167.98 < monetary_dnn <= 2423.27 AND time_bet...,0.0116,0.967033,1922.54 < target_monetary <= 3606.53
7,1167.98 < monetary_dnn <= 2423.27 AND 291.00 <...,0.0000,1.000000,target_monetary <= 1922.54