In [1]:
#!pip install anchor_exp==0.0.0.5

In [16]:
import json
import anchor_explainer as anchor

In [5]:
explainer = anchor.Explainer()

In [6]:
explainer.load_data(
  gcs_path = 'gs://ml-clv-data/model_data.csv',
  target_idx = 15,
  features_to_use = [1,3,5,6,7,8,9,10,11])

In [7]:
token = !gcloud auth print-access-token

In [8]:
explainer.create_cmle_client(
  gcp_project = 'ml-clv',
  gcp_model = 'dnn_airflow',
  gcp_model_version = 'v1',
  access_token = token[0],
  output_func = lambda x : x['predicted_monetary'])

In [11]:
explainer.assess_model()

{'accuracy': 0.72}

In [10]:
rand_expl = explainer.explain_random_record() #, show_in_notebook = True)
rand_expl

{'anchor': "2423.27 < b'monetary_dnn' <= 4087.26",
 'coverage': 0.2436,
 'precision': 1.0,
 'prediction': b"3606.53 < b'target_monetary' <= 5891.80",
 'record': ['3158.945',
  '17',
  '329',
  '333',
  '11.38',
  '88.03',
  '30.36',
  '0',
  '0']}

In [12]:
mod_record = ','.join(['2000'] + rand_expl['record'][1:])
print(mod_record)
explainer.explain_record(mod_record) #, show_in_notebook = True)

2000,17,329,333,11.38,88.03,30.36,0,0

{'anchor': "1167.98 < b'monetary_dnn' <= 2423.27 AND b'avg_basket_value' > 66.77 AND 325.00 < b'recency' <= 331.00",
 'coverage': 0.0032,
 'precision': 1.0,
 'prediction': b"b'target_monetary' <= 1922.54",
 'record': ['1779.22',
  '17',
  '329',
  '333',
  '11.38',
  '88.03',
  '30.36',
  '0',
  '0']}

In [15]:
explainer.explain_model()

,anchor,coverage,precision,prediction
0,b'monetary_dnn' <= 1167.98,0.2541,1.000000,"b""b'target_monetary' <= 1922.54"""
1,b'monetary_dnn' > 4087.26,0.2461,1.000000,"b""b'target_monetary' > 5891.80"""
2,2423.27 < b'monetary_dnn' <= 4087.26,0.2452,1.000000,"b""3606.53 < b'target_monetary' <= 5891.80"""
3,1167.98 < b'monetary_dnn' <= 2423.27 AND b'T' ...,0.0573,0.992727,"b""1922.54 < b'target_monetary' <= 3606.53"""
4,1167.98 < b'monetary_dnn' <= 2423.27 AND b'rec...,0.0523,0.989071,"b""1922.54 < b'target_monetary' <= 3606.53"""
5,1167.98 < b'monetary_dnn' <= 2423.27 AND b'tim...,0.0208,1.000000,"b""1922.54 < b'target_monetary' <= 3606.53"""
6,1167.98 < b'monetary_dnn' <= 2423.27 AND b'avg...,0.0154,0.987654,"b""b'target_monetary' <= 1922.54"""
7,1167.98 < b'monetary_dnn' <= 2423.27 AND b'tim...,0.0141,1.000000,"b""1922.54 < b'target_monetary' <= 3606.53"""
8,1167.98 < b'monetary_dnn' <= 2423.27 AND 28.37...,0.0121,0.951020,"b""1922.54 < b'target_monetary' <= 3606.53"""
9,1167.98 < b'monetary_dnn' <= 2423.27 AND b'fre...,0.0109,0.969828,"b""b'target_monetary' <= 1922.54"""
10,1167.98 < b'monetary_dnn' <= 2423.27 AND b'tim...,0.0102,0.988235,"b""b'target_monetary' <= 1922.54"""
11,1167.98 < b'monetary_dnn' <= 2423.27 AND 306.0...,0.0081,0.955466,"b""b'target_monetary' <= 1922.54"""
12,1167.98 < b'monetary_dnn' <= 2423.27 AND 306.0...,0.0075,0.960854,"b""b'target_monetary' <= 1922.54"""
13,1167.98 < b'monetary_dnn' <= 2423.27 AND 306.0...,0.0069,0.983471,"b""b'target_monetary' <= 1922.54"""
14,1167.98 < b'monetary_dnn' <= 2423.27 AND 28.37...,0.0053,0.978102,"b""1922.54 < b'target_monetary' <= 3606.53"""
15,1167.98 < b'monetary_dnn' <= 2423.27 AND b'avg...,0.0025,1.000000,"b""1922.54 < b'target_monetary' <= 3606.53"""
16,1167.98 < b'monetary_dnn' <= 2423.27 AND 28.37...,0.0021,1.000000,"b""1922.54 < b'target_monetary' <= 3606.53"""
17,1167.98 < b'monetary_dnn' <= 2423.27 AND 331.0...,0.0020,0.990566,"b""b'target_monetary' <= 1922.54"""
18,1167.98 < b'monetary_dnn' <= 2423.27 AND 306.0...,0.0016,1.000000,"b""b'target_monetary' <= 1922.54"""
19,1167.98 < b'monetary_dnn' <= 2423.27 AND b'avg...,0.0014,1.000000,"b""1922.54 < b'target_monetary' <= 3606.53"""
20,1167.98 < b'monetary_dnn' <= 2423.27 AND b'avg...,0.0010,1.000000,"b""1922.54 < b'target_monetary' <= 3606.53"""
21,1167.98 < b'monetary_dnn' <= 2423.27 AND b'T' ...,0.0006,0.964029,"b""b'target_monetary' <= 1922.54"""
22,1167.98 < b'monetary_dnn' <= 2423.27 AND b'avg...,0.0005,1.000000,"b""b'target_monetary' <= 1922.54"""
23,1167.98 < b'monetary_dnn' <= 2423.27 AND b'T' ...,0.0003,0.993056,"b""b'target_monetary' <= 1922.54"""
24,1167.98 < b'monetary_dnn' <= 2423.27 AND b'T' ...,0.0001,1.000000,"b""b'target_monetary' <= 1922.54"""